body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    background: rgb(250, 247, 249);
}

#hello-image {
    /* position: absolute; */
    width: 30%;
    float: left;
    /* height: 627px; */
    /* left: 1399px; */
    /* top: 85px; */
    /* background: url(Images/hero-image.png); */
    filter: drop-shadow(0px 40px 40px rgba(0, 0, 0, 0.2));
}


/* .landingpage {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "hello hello-image" "leftSidebar rightContent rightContent";
    }
    
    .navigation {
        width: 100%;
        position: top left;} */


/* .landingpage {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
        background-repeat: no-repeat;
        background-position: center;} */


/* .text {
        align-content: flex-start;
        justify-content: flex-start;
        width: 30%;
        padding: 20px 40px;
        color: rgb(18, 16, 20);} */


/* #backgroundimage {
        position: absolute;
        display: flex;
        height: 100%;
        width: 100%;
        margin-top: 50px;
        align-content: left;
        align-items: left;
        justify-content: left;
        z-index: -1;
    } */

.container {
    position: relative;
}

.text {
    position: absolute;
    top: 200px;
    left: 120px;
    /* font-size: 20px; */
    z-index: -1;
}

img {
    width: 100%;
    height: auto;
    opacity: 100;
    position: relative;
    z-index: -1;
}

h1 {
    font-size: 5vw;
}

h3 {
    font-size: 2vw;
}

nav {
    padding: 20pt;
    background-color: white;
    position: sticky;
    top: 0;
}